<div class="cogflare-dashboard" ng-controller="Cogflare.Controller as cogflareController">
    <umb-box>
        <umb-box-header title="CogFlare" class="cogflare-header"></umb-box-header>
        <umb-box-content>
            <img src="\App_Plugins\Cogworks.CogFlare\cogflare.png" alt="CogFlare Logo" class="cogflare-icon" />
            <h3>CogFlare</h3>
            <p>A package that helps automatically purge CloudFlare, Currently handling:</p>
            <ul>
                <li>Individual purge for <i>content node</i> changes (Published/Deleted/Unpublished) and any nodes referencing it</li>
                <li>Individual media item changes (Saved)</li>
                <li>Full cache purge if a changed <i>content node</i> is a <b>Key Node</b> or referenced by a <b>Key Node</b></li>
                <li>Ability to trigger a full cache purge manually in the backoffice (below)</li>
            </ul>
        </umb-box-content>
    </umb-box>

    <umb-box>

        <umb-box-header title="Purge" class="cogflare-header"></umb-box-header>
        <umb-box-content>
            <p>Click here to trigger a FULL cache purge of the whole site</p>
            <div ng-show="!cogflareController.isPurging">
                <button type="button" ng-click="cogflareController.purgeCache()" class="btn btn-warning">
                    <span>Purge all cache</span>
                </button>
            </div>
            <div class="umb-loader-wrapper" ng-show="cogflareController.isPurging">
                <div class="umb-loader"></div>
            </div>
        </umb-box-content>
    </umb-box>
    <umb-box>
        <umb-box-header title="Settings" class="cogflare-header"></umb-box-header>
        <umb-box-content>
            <p>Click here to view the current CogFlare Settings (<b>Warning</b> This may reveal sensitive information like API Keys)</p>

            <div>
                <button type="button" ng-click="cogflareController.getSettings()" class="btn btn-danger">
                    <span>Show settings</span>
                </button>
            </div>

            <umb-box-content>
                <div ng-show="cogflareController.isShowSettingsEnabled">
                    <p><b>CogFlare Enabled:</b> {{cogflareController.isCogFlareEnabled}}</p>
                    <p><b>Key Nodes:</b> {{cogflareController.keyNodes}}</p>
                    <p><b>Endpoint:</b> {{cogflareController.endpoint}}</p>
                    <p><b>Email:</b> {{cogflareController.email}}</p>
                    <p><b>API Key:</b> {{cogflareController.apiKey}}</p>
                </div>
            </umb-box-content>
        </umb-box-content>
    </umb-box>
</div>